@model user
@{
    ViewBag.Title = "login";
}

<br />
<br />
<br />
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">

                    @*<div class="card-header">
                            Login
                        </div>*@

                    <div class="card-body">
                        <form method="post">
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(n => n.email, new { @class = "form-control", autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(n => n.email)
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    @Html.PasswordFor(n => n.password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(n => n.password)
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBox("remberme") Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                                <p class="text-danger">@ViewBag.status</p>
                                <a href="#" class="btn btn-link">
                                    Forgot Your Password?
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{


    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

}